body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  font-family: 'Roboto';
  text-decoration: none;
}

.login-container {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2em;
}

.login-button {
  background-color: #7D8DFF;
  border: none;
  color: white;
  font-size: 1em;
  height: 4em;
  width: 20em;
  margin: 2em;
}

.header {
  color: #7D8DFF;
  font-family: 'Roboto';
  font-size: 3em;
  margin-left: 0.5em;
}

.subheader {
  color: #616582;
  font-family: 'Roboto';
  margin-top: 200px;
  text-align: center;
}

.home-button {
  color: #7D8DFF;
}

.search__form {
  text-align: center;
  margin-top: 5em;
}

.search-results__container {
  margin: 20px auto;
  width: 100%;
}

.search-results--p {
  color: #616582;
  font-family: 'Roboto';
}

.search-results__ul {
  padding-right: 2em;
  cursor: pointer;
}

.song-data {
  text-align: center;
  margin: 2em 0;
}

.chart {
  display: flex;
  justify-content: center;
}


@media screen and (min-width: 800px) {
  .song-link--container {
    margin: 0 auto;
    width: 30%;
  }
}