body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata' sans-serif;
  background-color: #1F7A8C;
}

p { 
  color: #4F55A6;
}

.header {
  color: #022B3A;
  font-family: 'Roboto';
  font-size: 3em;
}

.subheader {
  color: #FFFFFF;
  font-family: 'Roboto';
  text-align: center;
}

.home-button {
  color: #F066A6;
}

.search__form {
  background-color: #181A1B;
  color: #F066A6;
  text-align: center;
  margin-top: 2em;
}

.search-bar { 
  color: white;
  background-color: #272B2D; 
}

.search-results__container {
  margin: 20px auto;
  width: 100%;
}

.search-results--p {
  color: #F066A6;
  font-family: 'Roboto';
}

.search-results__ul {
  padding-right: 2em;
  cursor: pointer;
}

.loading-data {
  text-align: center;
  font-family: 'Inconsolata'; 
  color: #BFDBF7;
}

.song-data {
  margin: 2em 0;
}

@media screen and (min-width: 800px) {
  .song-link--container {
    margin: 0 auto;
    width: 30%;
  }
}